@CHARSET "UTF-8";
#tree_menu
{
}
#tree_menu ul
{
	display: none;
	position: absolute;
	background-color: #aaf;
	border: #aaa 1px solid;
}
#tree_menu ul li.hover
{
	background-color: #aaa;
}
#tree_menu ul.level_1
{
	display: block;
	clear: both;
	position: relative;
	background: none;
	border: none;
}
#tree_menu ul.level_1 li
{
	float:left;
	padding: 10px;
	background-color: #aaf;
	border: #aaa 1px solid;
}
#tree_menu ul.level_2
{
}
#tree_menu ul.level_1 ul.level_2 li
{
	float: none;
}
#tree_menu ul.level_1 ul.level_2 li a
{
}
#tree_menu ul.level_3
{
}